<md-bottom-sheet class="md-has-header" flex>
    <md-card flex layout="row">
        <div flex layout="column">
            <md-card-title >
                <md-card-title-text>
                    <span class="md-headline">{{businessInfo.name}}</span>
                    <span class="md-subhead">{{serverInfo.server_name}}</span>
                    <span class="md-subhead">{{serverInfo.server_ip}}:{{serverInfo.server_port}}</span>
                    <span class="md-subhead">{{serverInfo.status}}</span>
                    <span class="md-subhead">{{serverInfo.version}}</span>
                </md-card-title-text>

            </md-card-title>
            <!--<md-card-actions layout="row" layout-align="start center" >
                <md-button ng-click="innerTestSuccess(businessInfo.business_id)">内测成功</md-button>
                <md-button ng-click="innerTestFailure(businessInfo.business_id)">内测失败</md-button>
            </md-card-actions>-->
        </div>
        <md-card-content class="my-scroll" flex layout="column" md-colors="{'background': 'light-blue-100'}" >
            <span ng-repeat="operation in serverInfo.operationStatus track by $index">{{operation}}</span>
        </md-card-content>
        <md-progress-circular ng-show="!loaded_rollback" class="md-accent md-hue-1" md-diameter="60"></md-progress-circular>
    </md-card>
</md-bottom-sheet>
