<md-bottom-sheet layout="row"  flex style="max-height: 500px">
    <md-card flex>
        <md-card-title >
            <md-card-title-text>
                <span class="md-headline">{{serverInfo.server_name}}</span>
                <span class="md-subhead">{{serverInfo.server_ip}}</span>
                <span class="md-subhead">{{serverInfo.status}}</span>
                <span class="md-subhead">{{serverInfo.version}}</span>
            </md-card-title-text>

        </md-card-title>
        <md-card-actions layout="row" layout-align="start center" >
            <md-button ng-click="openServer(serverInfo.server_id)">开启服务器</md-button>
            <md-button ng-click="closeServer(serverInfo.server_id)">关闭服务器</md-button>
        </md-card-actions>
        <md-card-content style="overflow: scroll;" layout="column" md-colors="{'background': 'light-blue-100'}" >
                <!--<div md-colors="{'background': 'light-blue-100'}" ng-repeat="operation in serverInfo.operationStatus">-->
                    <span ng-repeat="operation in serverInfo.operationStatus">{{operation}}</span>
                <!--</div>-->
        </md-card-content>
    </md-card>
    <div flex style="overflow: scroll;">
        <md-input-container>
            <label flex>Tomcat Log</label>
            <textarea disabled flex style="width: 800px">{{serverInfo.log}}</textarea>
        </md-input-container>
    </div>
</md-bottom-sheet>