<!-- <md-dialog aria-label="Mango (Fruit)" style="min-width:300px;min-height:320px">
    <div layout="row" layout-padding style="margin:15px;margin-top:0">
        <md-input-container class="md-block">
            <label>搜索框</label>
            <input ng-model="input">
        </md-input-container>
    </div>
    <md-progress-circular ng-show="!loaded" class="md-accent md-hue-1" md-diameter="60"></md-progress-circular>
    <div layout="row">
        <div flex>
            <md-list flex>
                <md-list-item ng-repeat="business in businessList | filter:input" class="md-2-line">
                    <div class="md-list-item-text">
                        <md-card layout-padding style="background:#dce5f9">
                            <h4>描述：{{ business.description }}</h4>
                            <h4>审核类型：{{ business.audit_type }}</h4>
                            <h4>git名称：{{ business.git_name }}</h4>
                            <h4>项目负责人：{{ business.pm }}</h4>
                            <h4>审核邮件：{{ business.audit_email }}</h4>
                            <h4>业务名称：{{ business.name }}</h4>
                            <md-checkbox class="md-secondary" ng-model="business.checkValue" ng-init="business.checkValue=true"></md-checkbox>
                        </md-card>
                    </div>
                </md-list-item>
                <md-list-item ng-repeat="business in noAuthBusinessList | filter:input" class="md-2-line">
                    <div class="md-list-item-text">
                        <md-card layout-padding style="background:#dce5f9">
                            <h4>描述：{{ business.description }}</h4>
                            <h4>审核类型：{{ business.audit_type }}</h4>
                            <h4>git名称：{{ business.git_name }}</h4>
                            <h4>项目负责人：{{ business.pm }}</h4>
                            <h4>审核邮件：{{ business.audit_email }}</h4>
                            <h4>业务名称：{{ business.name }}</h4>
                            <md-checkbox class="md-secondary" ng-model="business.checkValue" ng-init="business.checkValue=false">
                            </md-checkbox>
                        </md-card>
                    </div>
                </md-list-item>
                <div class="md-actions" layout="row" flex>
                    <span flex></span>
                    <md-button ng-click="answer('not useful')"> Cancel </md-button>
                    <md-button ng-click="doAddBusinessForUser()" class="md-primary"> Save </md-button>
                </div>
            </md-list>
        </div>
    </div>
</md-dialog> -->
<div style="margin-top:20px;font-size:20px">
    <span>用户管理 / 业务授权</span>
    <span flex></span>
</div>
<md-button class="md-fab" style="position:fixed;right:10px;top:65px" ng-click="back()" title="返回业务中心">
    <ng-md-icon icon="arrow_back" size="30" style="fill:#ffffff;font-size:45px"></ng-md-icon>
</md-button>
<md-input-container class="md-block" style="margin-bottom:0">
    <label>搜索框</label>
    <input ng-model="input" style="margin-bottom:0">
</md-input-container>
<div layout="column" layout-padding>
  <div style="padding:20px;text-align:center">
      <div layout="row" style="padding:10px;font-size:18px;background:rgb(68, 168, 218);box-shadow:1px 1px 1px #888888;color:white;border-radius:5px 5px 0 0">
        <div flex>业务名称</div>
        <div flex>git名称</div>
        <div flex>项目负责人</div>
        <div flex>描述</div>
        <md-checkbox style="margin-left:10px;margin-bottom: 0px;visibility:hidden"></md-checkbox>
      </div>
      <md-progress-circular style="margin:40px auto" ng-show="!loaded" class="md-accent md-hue-1" md-diameter="100"></md-progress-circular>
      <div layout="row" style="padding:3px;background:white;font-size:18px;box-shadow:1px 1px 1px #888888;border-top:1px solid rgb(213, 226, 232)" ng-repeat="business in businessList | filter:input">
          <div flex>{{business.name}}</div>
          <div flex>{{business.git_name}}</div>
          <div flex>{{business.pm}}</div>
          <div flex>
              <md-menu>
                  <ng-md-icon icon="description" ng-click="openMenu($mdOpenMenu, $event)"></ng-md-icon>
                  <md-menu-content layout-padding style="background:rgb(239, 234, 241);max-width:250px;max-height:200px;word-wrap: break-word;white-space:normal">
                      <div>
                          {{business.description}}
                      </div>
                  </md-menu-content>
              </md-menu>
          </div>
          <md-checkbox style="margin-left:10px;margin-bottom: 0px" ng-model="business.checkValue" ng-init="business.checkValue=true"></md-checkbox>
      </div>
      <div layout="row" style="padding:3px;background:white;font-size:18px;box-shadow:1px 1px 1px #888888;border-top:1px solid rgb(213, 226, 232)" ng-repeat="business in noAuthBusinessList | filter:input">
          <div flex>{{business.name}}</div>
          <div flex>{{business.git_name}}</div>
          <div flex>{{business.pm}}</div>
          <div flex>
              <md-menu>
                  <ng-md-icon icon="description" ng-click="openMenu($mdOpenMenu, $event)"></ng-md-icon>
                  <md-menu-content layout-padding style="background:rgb(239, 234, 241);max-width:250px;max-height:200px;word-wrap: break-word;white-space:normal">
                      <div>
                          {{business.description}}
                      </div>
                  </md-menu-content>
              </md-menu>
          </div>
          <md-checkbox style="margin-left:10px;margin-bottom: 0px" ng-model="business.checkValue" ng-init="business.checkValue=false"></md-checkbox>
      </div>
      <md-button style="background:rgb(68, 168, 218);color:#ffffff">
          保存
      </md-button>
    </div>
</div>
