<md-toolbar class="my-head" layout="row">
    <span>资源中心 < 池管理</span>
    <md-button class="md-fab" aria-label="返回资源中心"  id="my-head-back" ng-click="back()" title="返回资源中心">
        <ng-md-icon icon="arrow_back" size="30" class="my-head-back-icon"></ng-md-icon>
    </md-button>
</md-toolbar>
<!-- 池信息 -->
<div class="my-lbcenter">
    <div layout="row" layout-padding class="my-table-head">
        池信息
    </div>
    <div layout="row" class="my-table-head2">
        <div ng-show="del_pool">
            <md-checkbox aria-label="checkAll" ng-checked="isChecked()" ng-click="toggleAll()" class="my-checked-all"></md-checkbox>
        </div>
        <div flex>池名称</div>
        <div flex>描述</div>
    </div>
    <md-progress-circular ng-show="!loaded" class="md-accent md-hue-1" md-diameter="100"></md-progress-circular>
    <div layout="column" layout-padding class="my-table-row" ng-repeat="pl in Pools" >
        <div layout="row">
            <div ng-show="del_pool">
                <md-checkbox aria-label="checkPool" ng-checked="exists(pl.pool_name,selectedPools)" ng-click="toggle(pl.pool_name,selectedPools)" class="my-checked"></md-checkbox>
            </div>
            <div flex>
                {{pl.pool_name}}
                <ng-md-icon ng-show="!poolIpStates[pl.pool_id]" ng-click="toggleIp(pl.pool_id)" size="16" icon="expand_more"></ng-md-icon>
                <ng-md-icon ng-show="poolIpStates[pl.pool_id]" ng-click="toggleIp(pl.pool_id)" size="16" icon="expand_less"></ng-md-icon>
            </div>
            <div flex>
                <md-menu>
                    <ng-md-icon icon="description" size="18" ng-click="openMenu($mdOpenMenu, $event)"></ng-md-icon>
                    <md-menu-content layout-padding class="my-description">
                        <div>
                            {{pl.description}}
                        </div>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <div ng-show="poolIpStates[pl.pool_id]" layout-padding class="my-poolstate-head">
            <div layout="row">
                <div flex>成员</div>
                <div flex="30">操作</div>
                <div flex="30">状态</div>
            </div>
            <div layout="row" ng-repeat="ips in IPs[pl.pool_id]">
                <div flex>
                    {{ips.ip}}
                </div>
                <div flex="30">
                    <md-switch ng-model="ips.status" ng-change="submitState(pl.pool_id,ips.ip,ips.status)" class="my-switch"></md-switch>
                </div>
                <div flex="30" ng-show="ips.status">对外</div>
                <div flex="30" ng-show="!ips.status">对内</div>
            </div>
        </div>
    </div>

    <div ng-show="add_pool" layout-padding class="my-add-pool">
      <div>
          <label class="my-pool-name">池名称</label>
          <input type="text"  name="pool_name" ng-model="pool_name" required>
          <span ng-show="is_empty" >池名称不能为空</span>
      </div>
      <div layout="row">
          <label class="my-input-description">描述</label>
          <textarea name="description" ng-model="description" cols="30" rows="5"></textarea>
      </div>
    </div>
    <md-button ng-show="!add_pool&&!del_pool" ng-click="addPool()" class="md-raised md-primary">
        添加
    </md-button>
    <md-button ng-show="!add_pool&&!del_pool" ng-click="deletePool()" class="md-raised md-primary">
        删除
    </md-button>
    <md-button ng-show="add_pool||del_pool" ng-click="submitPool()" class="md-raised md-primary">
        提交
    </md-button>
    <md-button ng-show="add_pool||del_pool" ng-click="cancelPool()" class="md-raised md-primary">
        取消
    </md-button>
</div>
