<md-content>
    <div style="margin-bottom:20px">
        <h2 style="margin-bottom:0px">负载均衡管理</h2>
    </div>
    <md-input-container class="md-block" flex>
        <label>搜索框</label>
        <input ng-model="input">
    </md-input-container>
    <md-button ng-click="addLB()" class="md-raised" style="background:rgb(68, 168, 218);color:white;width:120px">
        新建负载均衡
    </md-button>
    <div layout="column" ng-cloak>
        <md-content flex layout-padding style="text-align:center">
            <div layout="row" style="background:rgb(68, 168, 218);color:#ffffff;font-size:20px;box-shadow:1px 1px 1px #888888;border-radius:5px 5px 0 0">
                <div flex>IP</div>
                <div flex>端口</div>
                <div flex>用户名</div>
                <div flex>设备类型</div>
                <div flex>描述</div>
                <div flex>操作</div>
            </div>
            <md-progress-circular style="margin:40px auto" ng-show="!loaded" class="md-accent md-hue-1" md-diameter="100"></md-progress-circular>
            <div layout="row" style="background:white;font-size:15px;box-shadow:1px 1px 1px #888888;border-top:1px solid rgb(213, 226, 232)" ng-repeat="LB in LBs | filter:input">
                <div flex><span style="color:blue;text-decoration:underline;cursor:pointer" href="#" ng-click="LBcenter(LB.lb_id)">{{LB.lb_ip}}</span></div>
                <div flex>{{LB.port}}</div>
                <div flex>{{LB.user_name}}</div>
                <div flex>{{LB.lb_type}}</div>
                <div flex>
                    <md-menu>
                        <ng-md-icon icon="description" size="18" ng-click="openMenu($mdOpenMenu, $event)"></ng-md-icon>
                        <md-menu-content layout-padding style="background:rgb(239, 234, 241);max-width:250px;max-height:200px;word-wrap: break-word;white-space:normal">
                            <div>
                                {{LB.description}}
                            </div>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div flex>
                    <span style="color:blue;text-decoration:underline;cursor:pointer" ng-click="modifyLB(LB.lb_id)">修改</span> /
                    <span style="color:blue;text-decoration:underline;cursor:pointer" ng-click="deleteLB(LB.lb_id)">删除</span>
                </div>
            </div>
        </md-content>
    </div>

</md-content>
