<md-toolbar class="my-head" layout="row">
    <span>资源中心</span>
</md-toolbar>
<div layout-padding class="my-main-content">
    <md-content>
      <div class="my-head-name">
          <h2>负载均衡管理</h2>
      </div>
      <md-input-container class="md-block" flex>
          <label>搜索框</label>
          <input ng-model="input">
      </md-input-container>
      <md-button class="md-fab" aria-label="新建负载均衡" ng-click="addLB()">
          <md-tooltip md-direction="Bottom">
              新建负载均衡
          </md-tooltip>
          <ng-md-icon icon="add" size="30" class="my-btn-add"></ng-md-icon>
      </md-button>
    </md-content>
    <div layout="column" ng-cloak>
        <md-content flex layout-padding class="my-center">
            <div layout="row" class="my-table-head">
                <div flex>IP</div>
                <div flex>端口</div>
                <div flex>用户名</div>
                <div flex>设备类型</div>
                <div flex>描述</div>
                <div flex>操作</div>
            </div>
            <md-progress-circular ng-show="!loaded" class="md-accent md-hue-1" md-diameter="100"></md-progress-circular>
            <div layout="row" class="my-table-row" ng-repeat="LB in LBs | filter:input">
                <div flex><span class="my-key-name" href="#" ng-click="LBcenter(LB.lb_id)">{{LB.lb_ip}}</span></div>
                <div flex>{{LB.port}}</div>
                <div flex>{{LB.user_name}}</div>
                <div flex>{{LB.lb_type}}</div>
                <div flex>
                    <md-menu>
                        <ng-md-icon icon="description" size="18" ng-click="openMenu($mdOpenMenu, $event)"></ng-md-icon>
                        <md-menu-content layout-padding class="my-description">
                            <div>
                                {{LB.description}}
                            </div>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div flex>
                    <ng-md-icon icon="create" class="my-operation-modify" size="18" title="修改" ng-click="modifyLB(LB.lb_id)"></ng-md-icon>
                    <ng-md-icon icon="delete" class="my-operation-delete" size="18" title="删除" ng-click="deleteLB(LB.lb_id)"></ng-md-icon>
                </div>
            </div>
        </md-content>
    </div>
</div>
