<md-toolbar class="my-head" layout="row">
    <span>业务中心</span>
</md-toolbar>
<div layout-padding class="my-main-content">
  <md-content>
    <md-input-container class="md-block" flex>
        <label>搜索框</label>
        <input ng-model="input">
    </md-input-container>
    <md-button class="md-fab" aria-label="新建业务" ng-click="createBusiness()">
        <md-tooltip md-direction="Bottom">
            新建业务
        </md-tooltip>
        <ng-md-icon icon="add" size="30" class="my-btn-add"></ng-md-icon>
    </md-button>
  </md-content>
  <div layout="column">
        <md-content layout-padding flex class="my-center">
          <div layout="row" class="table-row my-table-head">
              <div flex="40">业务名</div>
              <div flex="40">版本号</div>
              <div flex="40">git名称</div>
              <div flex="20">上线次数</div>
              <div flex="40">最近一次上线</div>
              <div flex="20">操作</div>
          </div>
          <md-progress-circular ng-show="!loaded" class="md-accent md-hue-1" md-diameter="100"></md-progress-circular>
          <div layout="row" class="table-row my-table-row" ng-repeat="business in Businesses | filter:input">
              <div flex="40"><span class="my-key-name" ng-click="AssociateBusiness(business.business_id)">{{business.name}}</span></div>
              <div flex="40">{{business.current_version}}</div>
              <div flex="40">{{business.git_name}}</div>
              <div flex="20">{{business.online_times}}</div>
              <div flex="40">{{business.last_online_time}}</div>
              <div flex="20">
                  <ng-md-icon icon="create" class="my-operation-modify" size="18" title="修改" ng-click="modifyBusiness(business.business_id)"></ng-md-icon>
                  <ng-md-icon icon="delete" class="my-operation-delete" size="18" title="删除" ng-click="deleteBusiness(business.business_id)"></ng-md-icon>
              </div>
          </div>
      </md-content>
  </div>
</div>
