<div style="margin-top:20px;font-size:20px">
    <span>操作日志 / 日志详情</span>
    <span flex></span>
</div>
<md-button class="md-fab" style="position:fixed;right:10px;top:65px" ng-click="back()" title="返回业务中心">
    <ng-md-icon icon="arrow_back" size="30" style="fill:#ffffff;font-size:45px"></ng-md-icon>
</md-button>
<div layout-padding style="width:80%;height:600px;margin:30px auto;overflow-y:auto;background-color:rgba(0,0,0,0.9);color:rgb(95, 244, 71)">
<md-progress-circular style="margin:140px auto" ng-show="false" class="md-accent md-hue-1" md-diameter="100"></md-progress-circular>
asdfasdfsfsfsdasdfas;lasj;gadj;f<br>asfsadf;ds
</div>
