<md-toolbar class="my-head" layout="row">
    <span>操作日志</span>
</md-toolbar>
<div class="my-main-content">
  <md-progress-circular ng-show="!loaded" class="md-accent md-hue-1" md-diameter="100"></md-progress-circular>
  <md-content class="md-padding my-shadow" md-colors="{background:'deep-purple-50'}">
    <form ng-submit="$event.preventDefault()" name="searchForm">
      <div layout="row">

        <md-autocomplete flex
            md-input-name="autocompleteField"
            md-selected-item="selectedBusiness"
            md-search-text="searchBusiness"
            md-items="item in querySearch(searchBusiness, BusinessStates)"
            md-item-text="item.display"
            md-require-match
            md-floating-label="业务名称">
          <md-item-template>
            <span md-highlight-text="searchText">{{item.display}}</span>
          </md-item-template>
          <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
            <div ng-message="md-require-match">业务名不存在</div>
          </div>
        </md-autocomplete>

        <md-autocomplete flex
            md-input-name="autocompleteField2"
            md-selected-item="selectedPerson"
            md-search-text="searchPerson"
            md-items="item in querySearch(searchPerson, PersonStates)"
            md-item-text="item.display"
            md-require-match
            md-floating-label="操作人员">
          <md-item-template>
            <span md-highlight-text="searchText">{{item.display}}</span>
          </md-item-template>
          <div ng-messages="searchForm.autocompleteField2.$error" ng-if="searchForm.autocompleteField2.$touched">
            <div ng-message="md-require-match">姓名不存在</div>
          </div>
        </md-autocomplete>

        <div flex class="my-time">
            <label><strong>起始时间</strong></label>
            <md-datepicker ng-model="startTime" md-open-on-focus ng-change="updateEnd()"></md-datepicker>
        </div>

        <div flex class="my-time">
        <label><strong>截止时间</strong></label>
            <md-datepicker ng-model="endTime" md-min-date="endTimeStart" md-open-on-focus></md-datepicker>
        </div>

        <div flex="8" class="my-center">
          <md-button class="md-fab" aria-label="search" ng-click="search()">
              <md-tooltip md-direction="Bottom">
                  搜索
              </md-tooltip>
              <ng-md-icon icon="search" class="my-search-icon" size="35"></md-icon>
          </md-button>
        </div>

    </div>
    </form>
  </md-content>

  <div class="my-search-input" layout="row">
      <md-input-container flex>
          <label>搜索框</label>
          <input ng-model="input">
      </md-input-container>
      <span flex></span>
  </div>

  <md-content class="md-padding" layout="row" class="my-content" layout-wrap>
    <md-card flex="33" md-theme-watch ng-repeat="log in Logs | filter:input" class="my-card">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">
                <span class="md-headline">{{log.business}}</span>
            </span>
            <span class="md-title">
                <ng-md-icon icon="person" size="15"></ng-md-icon>
                <span class="md-subhead">{{log.user}}</span>
            </span>
            <span class="md-title">
                <ng-md-icon icon="alarm" size="15"></ng-md-icon>
                <span class="md-subhead">{{log.date}}</span>
            </span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div ng-repeat="opts in log.operations">{{(opts.create_at | date: 'yyyy-MM-dd HH:mm:ss.sss' )}}&nbsp;&nbsp;&nbsp;{{opts.operation_name}}</div>
        </md-card-content>
      </md-card>
  </md-content>

</div>
